!!!
html
  head
    title Contact Me
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href='/') Contact Me
    .subnav
    .container
      block content
